/*WhatsApp DarkTheme made by Faith79*/

:root {
    --white: #fff;
    --black: #000;
    --dark: #252525 !important;
    --darker: #1b1b1b !important;
    --brown: #333 !important;
    --optionBorder: #181818 !important;
    --buttonHover: #444 !important;
    --emoticonsBackground: #111 !important;
    --inputField: #222 !important;
    --text: #959595 !important;
    --secondaryText: #bbbbbb80 !important;
    --border: #555 !important;
    --primaryText: #BBB !important;
    --lighter: #E9E9E9 !important;
    --accent: #7289DA !important;
    --icon: #E1E1E1 !important;
    --shadow: rgba(0, 0, 0, 0.10) !important;
    --mred: #E74c3c !important;
    --mgreen: #16af9d !important;
    --mblue: #255AA7 !important;
    --emojiOpacity: 0.75 !important;
}

/*Loading Screen*/

#initial_startup, #startup, ._2lczh {
    background-color: var(--darker) !important;
}

/*"Trying to reach phone" */

html[dir] ._1Zpxt {
    background-color: var(--dark) !important;
}

._29nL- {
    color: var(--primaryText) !important;
}

._39xCh, ._1_LQu {
    color: var(--text) !important;
}

._2DcOb:hover {
    color: var(--white) !important;
}

html[dir] ._2DcOb:hover {
    background-color: var(--mred) !important;
}

/*Keep your phone connected*/

html[dir] .C7QbQ, html[dir] ._3k8jM {
    background-color: var(--darker) !important;
}

.DCCUT, ._1WKC9, ._2C374 {
    color: var(--text) !important;
}

html[dir] .dFJDK {
    background-color: var(--dark) !important;
}

/*Header icons*/

#side>header>div._3Kddp>div>div>span>svg>path {
    fill: var(--mblue) !important;
}

/*Icons :not(._1VgNY)>span>#Layer_1>path,*/

#main>div._1iklg>div>div>div._1E5h1>div>div>div>div>div._1WCug>div>div>span>svg>path #main>div._1iklg>div>div>div._1E5h1>div:nth-child(42)>div>div>div>div._1WCug>div>div>span>svg>path:not(.jdrlE)>span>#Layer_1>path, #side>header>div._25DuR>div>span>div:nth-child(2)>div>span>svg>path, #Oval-2-Copy, #main>div._1iklg>div>div>div._1E5h1>div>div>div>div>div._1WCug>div>div>span>svg>path, #Oval-2-Copy_1_, #Oval-2-Copy_2_, #side>header>div._25DuR>div>span>div:nth-child(3)>div>span>svg>path, #side>div._2v8uj>div>button>div.bwgDU._3jRRb>span>svg>path, #side>div._2v8uj>div>button>div.bwgDU._3jRRb>span>svg>path, #side>div._2v8uj>div>span>button>span>svg>path, #main>header>div.n7Psf>div>div:nth-child(1)>div>span>svg>path, #main>div._1iklg>div>div>div._1E5h1>div:nth-child(19)>div>div.Nxkz1.FqfAk>div>div>div._268YB>div>div>span>svg>path {
    fill: var(--text);
}

/*
Icon one Tick
*/

/*._2yLgm > span {*/

/*filter: invert(.9) !important;*/

/*}*/

/*Profile*/

._1arra {
    background-color: var(--dark) !important;
}

html[dir] ._3g9Jx {
    background-color: #1d1d1d !important;
}

._3AZJF, html[dir] ._2DjMI._3sQER ._30pH1 {
    color: var(--mgreen) !important;
}

html[dir] ._2DjMI._3sQER ._30pH1 {
    color: var(--text) !important;
}

body.div[id="app"] {
    background-color: var(--dark) !important;
}

/*Profile Icons*/

/*html[dir=ltr] ._2K9ae {*/

/*filter: invert(1) !important;*/

/*}*/

/*Add Profile Photo*/

html[dir] .kdYjy {
    background-color: var(--brown) !important;
}

._1zhVm {
    color: var(--text) !important;
}

/*Button hover*/

html[dir] .gz-uh._2qxGV {
    background-color: var(--buttonHover) !important;
}

/*Search or start a chat*/

html[dir] ._1RmSA, html[dir] ._1RmSA._3qnBM {
    background-color: var(--brown) !important;
}

._1Ljhj, ._1uDZQ {
    color: #858585 !important;
}

html[dir] .wRb_f, html[dir] ._3dDY1 {
    background-color: var(--inputField) !important;
}

html[dir] ._1RmSA._3qnBM .wRb_f {
    color: var(--text) !important;
}

html[dir] ._1RmSA:after {
    background-color: #ffffff00 !important;
}

/*Chats*/

html[dir] ._1Qelh {
    background-color: var(--brown) !important;
}

html[dir] ._2oMll {
    border-color: var(--border) !important;
}

._2Kq5m {
    color: var(--primaryText) !important;
}

._2zvZM, ._1NLQZ {
    color: var(--secondaryText) !important;
}

html[dir] ._1Qelh:hover, html[dir] ._1Qelh._1mVoi {
    background-color: var(--buttonHover) !important;
}

html[dir] ._1Qelh:hover:after, html[dir] ._1Qelh._1mVoi:after, html[dir] ._1Qelh._9m0_C:after {
    border-color: var(--border) !important;
}

/*
Message Qoute
*/

html[dir] .message-out ._2gCZr, html[dir] .message-in ._2gCZr {
    background-color: var(--brown)!important;
}

/*Profile photos*/

html[dir] ._2fwCN {
    background-color: #ffffff80 !important;
}

span[data-icon="default-group"] svg>path:first-child, span[data-icon="default-user"] svg>path:first-child {
    fill: #4a5356 !important;
}

/*Scrollbar*/

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.48) !important;
}

*::-webkit-scrollbar-track {
    background: #444 !important;
}

/*Chat name right side*/

html[dir] ._2rNOJ {
    background-color: var(--dark) !important;
}

._3FW2s {
    color: var(--primaryText) !important;
}

._1UZ7n._33sjE {
    color: var(--secondaryText) !important;
}

#Layer_2>path {
    fill: var(--text) !important;
}

html[dir=ltr] ._2rNOJ {
    border-color: var(--border) !important;
}

/*Chat message*/

html[dir] .message-out .Nxkz1, html[dir] .message-in .Nxkz1, html[dir] ._3-tqg ._1fY0B, html[dir] ._1bNpf ._1fY0B, html[dir] .message-in .mFVOk ._3vofN, html[dir] .message-in .mFVOk ._3YQeS {
    background-color: var(--buttonHover) !important;
}

html[dir] .VntGZ {
    background-color: var(--darker) !important;
}

html[dir=ltr] ._2VaSD._1ykUM, html[dir=ltr] ._2VaSD._3Fs97 {
    background: var(--buttonHover) !important;
}

html[dir] ._2HEGP {
    background-color: transparent !important;
}

html[dir] .tail-container {
    background: none !important;
}

html[dir=ltr] .message-out .tail .Nxkz1 {
    border-top-right-radius: 8px !important;
}

/*noinspection ALL*/

html[dir=ltr] .tail.message-in, html[dir=ltr] .message-in .tail .Nxkz1, html[dir=ltr] .tail.message-out, html[dir=ltr] .message-out .tail-container.highlight {
    border-top-left-radius: 7.5px !important;
}

._3hQfB, ._2X0eY {
    color: var(--secondaryText) !important;
}

._3v3mO {
    color: var(--primaryText) !important;
}

html[dir=ltr] .tail.message-in .tail-container, html[dir=ltr] .message-out .tail-container.highlight {
    display: none !important;
}

html[dir=ltr] ._1aUEJ, .aXccw, ._3IGZs, ._3Nf_- {
    color: var(--secondaryText) !important;
}

html[dir] ._3g0ao {
    background-color: #111 !important;
}

span[data-icon="ptt-in-blue"] svg path:first-child, span[data-icon="ptt-out-blue"] svg path:first-child {
    fill: transparent !important;
}

span[data-icon="audio-play"] svg path:first-child, span[data-icon="audio-download"] svg path:first-child, span[data-icon="audio-pause"] svg path:first-child {
    fill-opacity: 1 !important;
}

/*Type a message*/

html[dir] .lbW8B {
    background-color: var(--inputField) !important;
    border-color: var(--brown) !important;
}

html[dir] ._3NN3W {
    background-color: var(--dark) !important;
}

html[dir=ltr] ._2DjMI._3zjnM ._30pH1 {
    color: var(--primaryText) !important;
}

/*Emoticons*/

html[dir] ._59Mfb, html[dir] ._19iwE, html[dir] ._2HcKt, html[dir] ._2-bkE {
    background-color: var(--emoticonsBackground) !important;
}

html[dir=ltr] ._1zQrr {
    color: var(--primaryText) !important;
}

html[dir=ltr] ._2z0Kx {
    border: none !important;
}

html[dir=ltr] ._38AhI, .AWQWO, html[dir] ._19zos {
    background-color: #191919 !important;
}

html[dir] .YMJXW {
    background-color: var(--inputField) !important;
}

html[dir] ._1KwWc {
    background-color: var(--darker) !important;
}

html[dir] ._3fzCS .emojik, html[dir] ._2_r_X .emojik {
    clip-path: circle(47%) !important;
}

/*Date indicator*/

html[dir=ltr] ._1FasD {
    color: var(--black) !important;
}

html[dir] ._1FasD {
    background-color: #ade1f9f7 !important;
}

/*Minimize Maximize Close*/

html[dir] #windows-title-maximize:hover, html[dir] #windows-title-minimize:hover {
    background-color: #999 !important;
}

html[dir] #windows-title-close:hover {
    background-color: #C40B52 !important;
}

/*Header*/

html[dir] ._2mLMa, html[dir] ._1MoDV, html[dir] ._68FFp {
    background-color: var(--dark) !important;
}

.WygJD, ._1MoDV .J_uY8, html[dir] ._2DjMI.wUBHL ._30pH1, .IZDpR, .tDHPd ._2ZH5w {
    color: var(--primaryText) !important;
}

html[dir] ._22a6F+._22a6F ._1sQ7h {
    border-color: var(--border) !important;
}

html[dir] ._3_gw3 {
    background-color: var(--darker) !important;
}

html[dir] ._3_gw3:hover {
    background-color: var(--buttonHover) !important;
}

html[dir=ltr] ._2mLMa {
    border: none !important;
}

/*search*/

._3Axno, ._1Z_Qn {
    color: var(--secondaryText) !important;
}

.gHiUI {
    color: #07b3a3 !important;
}

html[dir] ._3HpJq, html[dir] .gHiUI, html[dir] .rFRk2 {
    background-color: var(--dark) !important;
}

/*Option border*/

html[dir] ._2sFJf {
    background-color: var(--optionBorder) !important;
}

html[dir] ._2R0iY._3R1Qo {
    background-color: var(--buttonHover) !important;
}

._19O1U {
    color: var(--primaryText) !important;
}

/*Title bar*/

html[dir] #windows-title-bar {
    background-color: var(--black) !important;
}

/*New Chat*/

html[dir] ._1ndYW {
    border: none !important;
}

html[dir] ._1Qelh, html[dir] ._2g6b2 {
    background: none !important;
}

html[dir] ._1WNxu {
    background-color: #050606f0 !important;
}

html[dir] .ktxPy {
    background-color: var(--dark) !important;
}

html[dir=ltr] .three .Och61 {
    border: none !important;
}

/*media preview*/

html[dir] ._212qn, html[dir] .xoYz5 {
    background-color: rgba(20, 20, 20, 0.96) !important;
}

html[dir] .bJP_g {
    background-color: var(--dark) !important;
}

._3-mzC {
    color: var(--primaryText) !important;
}

html[dir] .w6Ywu {
    background-color: #737576 !important;
}

html[dir] ._1M5So {
    border: none !important;
}

/*select message*/

html[dir] ._3KCu4 {
    background-color: var(--dark) !important;
}

html[dir=ltr] .Ubibh {
    color: var(--primaryText) !important;
}

/*Stickers menu */

html[dir] ._2UD13 {
    background-color: var(--darker) !important;
}

/*Media,links, docs*/

html[dir] ._1M44b {
    background-color: var(--dark) !important;
}

html[dir] ._1StcS._48d_G {
    background-color: var(--darker) !important;
}

html[dir] ._1StcS:before, html[dir] ._1StcS._48d_G:before, html[dir] ._1StcS._48d_G:after {
    background: none !important;
}

html[dir] ._1M44b {
    background-color: var(--brown) !important;
}

/*Settings*/

html[dir] ._3_gw3+._3_gw3 ._2EDVV, html[dir] ._3_gw3:hover+._3_gw3:before {
    border-color: var(--border) !important;
}

/*Notifications*/

select {
    color: var(--secondaryText) !important;
    background-color: var(--dark) !important;
    border-color: var(--border) !important;
    border-bottom: 1px solid var(--border) !important;
}

._2OQLl {
    color: #959595 !important;
}

._2C8fJ {
    color: var(--secondaryText) !important;
}

html[dir] ._1RUhe {
    border: none !important;
}

/*Desktop Settings*/

.T62Kq {
    color: var(--secondaryText) !important;
}

/*Add Group Participants*/

html[dir] ._1bIFL, html[dir] ._3IyB2 {
    background-color: var(--dark) !important;
}

._1E8X1 {
    background-color: var(--brown);
}

html[dir] ._1yBeH {
    border-color: var(--border) !important;
}

html[dir] ._3GTIW {
    color: var(--primaryText) !important;
}

html[dir] ._20-p9.JY9bh {
    background-color: var(--border) !important;
}

/*Profile Name*/

._3vJPl {
    color: var(--primaryText);
}

/*Blocked Contacts*/

html[dir] ._2n3tc, html[dir] .dISnq {
    background-color: var(--emoticonsBackground);
}

/*Replay message*/

html[dir] ._2EJZE, html[dir] .KhsDh {
    background-color: var(--brown) !important;
}

/*Search message*/

html[dir] ._1RJvX {
    background-color: var(--dark)!important;
}

/*Message info*/

html[dir] ._2eMOD {
    background-color: var(--dark)!important;
}